.App {
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}

.shape {
  position: absolute;
}

.stats {
  pointer-events: none;
  user-select: none;
}

.left-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left, .right {
  width: 75px;
  text-align: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
